*{
    margin:0;
    padding:0;
}
body{
    font-family: Arial,sans-serif;
    background-color: rgb(219, 224, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container{
    display: flex;
    justify-content: center;
    background-color: rgb(219, 224, 236);
    padding-left: 100px;
    max-width:1000px;
    width: 50%;
    
} 
.leftpart{
   flex: 1;
}
h1{
    color: #4169e1;
    font-size: 90px;
    margin: 0;
}
h3{
    color: black;
    font-size: 24px;
}
.Rightpart{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
    box-shadow:0 2px 20px rgba(0,0,0,0.1);
    max-width: 900px;
    
}

.login-form{
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 20px;
}

.login-form input{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
}
 
.login-form button{
    padding: 10px;
    background-color: royalblue;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
     transition: transform 0.2s ease;
    box-shadow: 0.2s ease;
}

.login-form button:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    }

.login-form .createaccount{
    background-color: #42b72a;
}

.login-form .createaccount:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    }

.login-form .createaccount:active{
    transform: scale(0.95);
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.login-form a{
    color: #1877f2;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
}

hr{
    border: none;
    height: 1px;
    background-color: #dddfe2;
    margin:20px 0;
}

